.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #003366;
  border-radius: 7px;
  width: 500px;
  padding: 0 30px;
  font-size: 20px;
}

.row {
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
}

input[type="text"] {
  width: 60%;
  border-radius: 7px;
  border: 1px solid #003366;
  background-color: #fff;
}

input[type="radio"] {
  color: #003366;
  font-size: 50px;
  cursor: pointer;
}

select {
  width: 20%;
  border-radius: 7px;
  color: #003366;
  cursor: pointer;
}

img {
  width: 60px;
  height: 60px;
}

button {
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  color: #003366;
  background-color: #d1e8ff;
  transition: 0.4s;
}

button:hover {
  background-color: #a3e4e4c9;
}

label {
  color: #003366;
}
